@model ProfileViewModel
@{
    ViewData["Title"] = "Porfolio";
}

<div class="page-section inner-page-sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <!-- My Account Tab Menu Start -->
                    <div class="col-lg-3 col-12">
                        <div class="myaccount-tab-menu nav" role="tablist">

                            <a href="#dashboad" class="@(ViewBag.Tab=="dashboard"?"active":"")" data-toggle="tab">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                            </a>
                            <a href="#orders" class="@(ViewBag.Tab=="orders"?"active":"")" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>
                            <a href="#account-info" class="@(ViewBag.Tab=="profile"?"active":"")" data-toggle="tab">
                                <i class="fa fa-user"></i> Account
                                Details
                            </a>
                            <a asp-action="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-12 mt--30 mt-lg--0">
                        <div class="tab-content" id="myaccountContent">
                            <div class="tab-pane fade @(ViewBag.Tab=="dashboard"?"show active":"")" id="dashboad" role="tabpanel">
                                <div class="myaccount-content">
                                    <h3>Dashboard</h3>
                                    <div class="welcome mb-20">
                                        <p>
                                            Hello, <strong>Alex Tuntuni</strong> (If Not <strong>
                                                Tuntuni
                                                !
                                            </strong><a href="login-register.html" class="logout">
                                                Logout
                                            </a>)
                                        </p>
                                    </div>
                                    <p class="mb-0">
                                        From your account dashboard. you can easily check &amp; view
                                        your
                                        recent orders, manage your shipping and billing addresses and edit your
                                        password and account details.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade @(ViewBag.Tab=="orders"?"show active":"")" " id="orders" role="tabpanel">
                                <div class="myaccount-content">
                                    <h3>Orders</h3>
                                    <div class="myaccount-table table-responsive text-center">
                                        <table class="table table-bordered">
                                            <thead class="thead-light">
                                                <tr>

                                                    <th>FullName</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>Total</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            @if (Model.Orders != null)
                                            {
                                                foreach (var item in Model.Orders)
                                                {
                                                    <tr>
                                                        <td>@item.FullName</td>
                                                        <td>@item.CreatedAt.ToString()</td>
                                                        <td>@item.Status</td>
                                                        <td>
                                                            @{
                                                                decimal totalPrice = 0;
                                                                foreach (var v in item.OrderItems)
                                                                {
                                                                    totalPrice += (v.SalePrice - (v.SalePrice * (v.DiscountPercent / 100)))*v.Count;
                                                                }
                                                                @totalPrice.ToString("#.##")
                                                            }
                                                        </td>
                                                        <td><a href="@Url.Action("details", "order", new { id = item.Id})" class="btn">View</a></td>
                                                    </tr>

                                                }
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade @(ViewBag.Tab == "profile" ? "show active" : "")" " id="account-info" role="tabpanel">
                                <div class="myaccount-content">
                                    <h3>Account Details</h3>
                                    <div class="account-details-form">
                                        @Html.Partial("_ProfileEditFormPartial", Model.ProfileEditView)
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
    document.getElementById('user-form').addEventListener('submit', function (e) {
        var toastElement = document.getElementById('toast');
        var toast = new bootstrap.Toast(toastElement);
        toast.show();

    });
    </script>
}
